<div>
  <h1>Nickname <%= @user.nickname %></h1>
  <a href="mailto:<%= @user.email %>">Email</a>
  <h2>
    <% if @user == current_user %>
      You have <%= @user_posts.count %> posts.
    <% else %>
      Yuser have <%= @user_posts.count %> posts.
    <% end %>
  </h2>
</div>

<div>
  <% @user_posts.reverse.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>
