<div class="post card">
  <div class="post__header card-header">
    <div class="post__info ">
      <p class="post__owner-link h5"><%= link_to owner(post).nickname, user_profile_path(post.user) %></p>
      <p class="post__date h5">Created <%= post.created_at %></p>
    </div>
    <div class="btn-group post__actions" role="group">
      <%= link_to 'Show', post, class: "post__show btn btn-outline-secondary btn-sm" %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(post), class: "post__edit btn btn btn-outline-secondary btn-sm" %>
        <%= link_to 'Destroy', post, method: :delete, class: "post__destroy btn btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <div class="card-body blockquote"><%= post.content %></div>
</div>
