<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<section class="post-section">
  <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %>
</section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-primary new-post-btn" data-bs-toggle="modal" data-bs-target="#newPostModal">
  New Post
</button>

<!-- Modal -->
<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', post: @new_post %>
      </div>
    </div>
  </div>
</div>
