// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.post {
  $space_after_post: 2em;

  margin-bottom: $space_after_post;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    p {
      margin: 5px;
    }
  }
}

.post-section {
  margin-bottom: 10em;
}

.new-post-btn {
  position: fixed;
  border-radius: 1.5em;
  right: 3em;
  bottom: 3em;
}
