<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="p-4">
    <div class="navbar-text">
      <h1 class="d-flex h3 justify-content-center">Rails Test Blog</h1>
      <% if user_signed_in? %>
      <div class="d-flex justify-content-between">
        <p>Logged in as <strong><%= current_user.email %></strong>.</p>
        <div>
          <%= link_to 'My profile', user_profile_path(current_user.id), class:  'navbar-link' %> |
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        </div>
      </div>
      <% else %>
        <div class="d-flex justify-content-center">
          <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link' %> |
          <%= link_to "Login", new_user_session_path, class: 'navbar-link' %>
        </div>
      <% end %>
    </div>
    <% unless current_page?(root_path)%>
      <%= link_to "Go To Main", root_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
